body {
    padding-top: 50px;
}

.jumbotronTop
{
    height:110vh;
    background:url(../img/bg1.jpg) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;

}

.jumbotronTop h1{
    color:black;
    margin: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
}